.form {
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: max(30vw, 600px);
  & > .field {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    & > label {
      flex: 1;
    }
    & > input {
      flex: 4;
    }
  }
  & > .imageField {
    position: relative;
    display: flex;
    justify-content: center;
    & > img {
      width: 400px;
      height: 400px;
      
      object-fit: cover;
    }
    & > div {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  & > .actionGroup {
    display: flex;
    gap: .7em;
  }
}