.nav {
  display: flex;
  gap: 0;
  & > *:nth-child(1) {
    padding-left: 0;
  }
  & > * {
    padding: .8em 1.2em;
    color: inherit;
    opacity: .8;
    &[class="active"] {
      opacity: .9;
      text-shadow: 0 0 5px color-mix(in oklab, var(--color) 10%, var(--bg) 90%);
    }
    
    
  }
}